.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    position: relative;
}

.online {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: -3px;
    right: 0;
    border: 1px solid white;
}

@media (max-width:800px) {
    .icon {
        display: none;
    }
}